.room {
    -fx-border-radius: 10px;
    -fx-border-width: 3px;
    -fx-padding: 10px;
    -fx-alignment: center;
}

.room.available {
    -fx-background-color: linear-gradient(to bottom, #74c69d, #40916c);
    -fx-text-fill: white;
}

.room.booked {
    -fx-background-color: linear-gradient(to bottom, #ff4d4d, #b22222);
    -fx-text-fill: white;
}

.room.vip {
    -fx-background-color: linear-gradient(to bottom, #ffdd57, #ffaa00);
    -fx-text-fill: black;
}

.room:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0, 0, 5);
}

.required-field {
    -fx-background-color: white;
    -fx-prompt-text-fill: red; /* Màu đỏ cho promptText */
}

.required-field .text {
    -fx-padding: 0 0 0 10; /* Tạo khoảng cách để thêm dấu * */
}
